astropy==4.1
matplotlib==3.3.4
numba==0.52.0
numpy==1.22.0

katdal @ git+https://github.com/ska-sa/katdal
katpoint @ git+https://github.com/ska-sa/katpoint
katsdpsigproc @ git+https://github.com/ska-sa/katsdpsigproc
